@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body {
    margin: 0;
    padding: 0;
    background-color: #3498db;
    /* Blue background color */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: left;
}
.content h2 {
    position: absolute;
    color: #fff;
    transform: translate(-50%,-50%);
    font-size: 10em;
}
.content h2:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px #87ceeb;
}
.content h2:nth-child(2)
{
    color: #87ceeb;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%, 100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}
#passwordInput {
    color: rgb(255, 255, 255);
    background-color: #8bc0e4;
    border-radius: 8px;
    border: none;
    width: 20%;
    /* Takes 80% of the parent container's width */
    max-width: 500px;
    /* Ensures it doesn't grow too large on big screens */
    height: 50px;
    font-size: 23px;
    font-family: inherit;
    margin-top: 0;
    margin-right: 10px;

}

#passwordInput::placeholder {
    color: white;
    font-family: inherit;
    font-size: 14px;
    padding-left: 10px;

}

.trybutton {
    width: 5%;
    /* Takes 80% of the parent container's width */
    max-width: 500px;
    /* Ensures it doesn't grow too large on big screens */
    height: 50px;
    border-radius: 8px;
    background-color: #87ceeb;
    /* Light blue color for buttons */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s;
    transition: box-shadow 0.15s;

}

.trybutton:hover {
    opacity: 0.75;
    box-shadow: 5px 5px 7.6px rgba(0, 0, 0, 0.15);
}

.trybutton:active {
    opacity: 0.8;
}

