
body {
    margin: 0;
    padding: 0;
    background-color: #3498db; /* Blue background color */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img {
    width: 300px; /* La imagen ocupará todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
border-radius: 20px;
}	
h1 {
color: #87ceeb; /* Blue color for the title */
    text-align: center;
    width: 100%;
}
