
        body {
            margin: 0;
            padding: 0;
            background-color: #3498db; /* Blue background color */
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        button.title-button {
            color: #87ceeb; /* Blue color for the title */
            text-align: center;
            font-size: 400%;
            background: none; /* Transparent background */
            border: none; /* No border */
            width: 100%;
            cursor: pointer;
            font-family: inherit; /* Match font style with the rest */
        }

        button {
            background-color: #87ceeb; /* Light blue color for buttons */
            color: #fff;
            border: none;
            padding: 10px 20px;
            margin: 10px;
            border-radius: 10px; /* Rounded shape for buttons */
            position: relative;
        }

        button.title-button:hover {
            cursor: default;
        }

        .hover:hover {
            opacity: 0.9;
            height: 50px;
            width: 150px;
            content: "Gemma tetas gordas";
        }

